@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

@media (min-device-width:2101px) and (max-device-width:2600px)/*WEB*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 108vh 113vh;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0vh 40vh;
        width: 100vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 75vh;
        margin: 5vh;
        padding: 5vh;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 7vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4.6vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.6vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 4.8vh;
        font-weight: 100;
        margin-bottom: 1vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3.8vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4.6vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:1506px) and (max-device-width:2100px)/*WEB*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 138vh 113vh;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0vh 40vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 75vh;
        margin: 5vh;
        padding: 6vh;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 7vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.6vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 4.8vh;
        font-weight: 100;
        margin-bottom: 1vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3.8vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4.8vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:1200px) and (max-device-width:1505px)/*WEB*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 96vh 112vh;
        background-position: center;
        margin: 0vh 46vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 75vh;
        margin: 5vh;
        padding: 4vh;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 7vh;
        color: #303030;
        text-align: center;
        margin-bottom: 3vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.5vh;
        padding: 1vh;
        text-align: center;
        margin-bottom: 3vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 5vh;
        font-weight: 100;
        margin-bottom: 0.4vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:1001px) and (max-device-width:1199px) /*WEB*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }
    
    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 90vh 112vh;
        background-position: center;
        background-repeat: no-repeat;
        width: 60vh;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 4vh 7vh;
        padding: 6vh 5vh;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 7vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .main-section1-espaco{
        color: #ca8e1e;
    }
    
    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.5vh;
        padding: 0.5vh;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 5vh;
        font-weight: 100;
        margin-bottom: 0.4vh;
    }
    
    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }
    
    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3.5vh;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4vh;
        font-weight: 100;
        color: #303030;
    }
    
    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
    
    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:820px) and (max-device-width:1000px) /*Tabet*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }
    
    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 100vh 112vh;
        background-position: center;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 6vh 7vh;
        padding: 5vh 1.6vh;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 6vh;
        color: #303030;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .main-section1-espaco{
        color: #ca8e1e;
    }
    
    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 4vh;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 5vh;
        font-weight: 100;
        margin-bottom: 0.4vh;
    }
    
    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }
    
    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 4vh;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4.6vh;
        font-weight: 100;
        color: #303030;
    }
    
    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
    
    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:761px) and (max-device-width:819px) /*Tabet*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }
    
    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 105vh 110vh;
        background-position: center;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 6vh 7vh;
        padding: 3.4vh 1.4vh;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 6.4vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .main-section1-espaco{
        color: #ca8e1e;
    }
    
    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 4.2vh;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 5.2vh;
        font-weight: 100;
        margin-bottom: 1vh;
    }
    
    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }
    
    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 4.2vh;
        text-align: center;
        margin-bottom: 5vh;
    }
    
    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4.8vh;
        font-weight: 100;
        color: #303030;
    }
    
    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
    
    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:531px) and (max-device-width:760px) /*Tabet*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }
    
    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 107vh 110vh;
        background-position: center;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 6vh 7vh;
        padding: 3vh 2.8vh;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 7vh;
        color: #303030;
        text-align: center;
        margin-bottom: 3vh;
    }
    
    .main-section1-espaco{
        color: #ca8e1e;
    }
    
    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 4vh;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 6vh;
        font-weight: 100;
        margin-bottom: 1.4vh;
    }
    
    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }
    
    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 4vh;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4.8vh;
        font-weight: 100;
        color: #303030;
    }
    
    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
    
    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:414px) and (max-device-width:530px) /*Tabet*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 100vh;
    }
    
    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 66vh 112vh;
        background-position: center;
        height: 100vh;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 6vh 7vh;
        padding: 3vh 1vh;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 5.5vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .main-section1-espaco{
        color: #ca8e1e;
    }
    
    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.4vh;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 4.5vh;
        font-weight: 100;
        margin-bottom: 0.4vh;
    }
    
    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }
    
    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3vh;
        text-align: center;
        margin-bottom: 4vh;
    }
    
    .links,:visited,:hover{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4vh;
        font-weight: 100;
        color: #303030;
    }
    
    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
    
    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:390px) and (max-device-width:413px) /*Mobile*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 70vh;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 66vh 114vh;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 5vh;
        padding: 6vh 1vh;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 5.4vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.2vh;
        text-align: center;
        margin-bottom: 5vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 4.6vh;
        font-weight: 100;
        margin-bottom: 0.8vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3.2vh;
        text-align: center;
        margin-bottom: 5vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 3.8vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:375px) and (max-device-width:389px) /*Mobile*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 70vh;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 78vh 110vh;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 5vh;
        padding: 6vh 0;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 5.8vh;
        color: #303030;
        text-align: center;
        margin-bottom: 1vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.4vh;
        padding: 4vh;
        text-align: center;
        margin-bottom: 2vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 5vh;
        font-weight: 100;
        margin-bottom: 0.5vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3vh;
        text-align: center;
        margin-bottom: 5vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (min-device-width:301px) and (max-device-width:374px) /*Mobile*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
        height: 70vh;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 74vh 112vh;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 70vh;
        margin: 5vh;
        padding: 5vh 2vh;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 5.6vh;
        color: #303030;
        text-align: center;
        margin-bottom: 2vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3.4vh;
        padding: 2vh;
        text-align: center;
        margin-bottom: 3vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 4.4vh;
        font-weight: 100;
        margin-bottom: 0.5vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3vh;
        text-align: center;
        margin-bottom: 5vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 4vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

@media (max-device-width:300px) /*Mobile*/{
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    body,:visited{
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-around;
    }

    .borda-externa{
        display: flex;
        background-color: #fefefe;
        background-image: url(./possiveis_imagen/—Pngtree—golden\ border\ warm\ color\ frame_5845628.png);
        background-size: 60vh 110vh;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin: 5vh;
        padding: 5vh 2vh;
        font-family: 'Cormorant Garamond', serif;
    }

    .main-section1{
        font-style: italic;
        font-weight: 100;
        font-size: 5.2vh;
        color: #303030;
        text-align: center;
        margin-bottom: 4vh;
    }

    .main-section1-espaco{
        color: #ca8e1e;
    }

    .main-convite{
        color: #303030;
        font-weight: 400;
        font-size: 3vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .main-section2{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2vh;
        font-size: 4.4vh;
        font-weight: 100;
        margin-bottom: 1vh;
    }

    .main-section2-data-meio{
        color: #303030;
        padding: 0 1vh;
        border-left: 3px solid #ca8e1e;
        border-right: 3px solid #ca8e1e;
    }

    .main-hora{
        color: #303030;
        font-weight: 400;
        font-size: 3vh;
        text-align: center;
        margin-bottom: 4vh;
    }

    .links,:visited{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        box-sizing: content-box;
        font-size: 3.8vh;
        font-weight: 100;
        color: #303030;
    }

    .links-local,:visited{
        border-bottom: 3px solid #ca8e1e;
    }

    .links-dress-code,:visited{
        border-bottom: 3px solid #ca8e1e;
    }
}

